/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    /* Font */
    --primary-font: 'Open Sans', sans-serif;

    /* Colors */
    --cream: #CFC0A6;
    --cream-light: #ddd1bc;
    --grey: #878A8D;
    --green: #4E9760;
    --green-light: #97ba9f;
    --pink: #C97064;
}

/********** MANAGER PAGE **********/
.manager-body {
    background-color: var(--cream);
    font-family: var(--primary-font);
    display: grid;
    grid-template-rows: 26% 74%;
}

.hidden {
    display: none !important;
}

button,
a,
.add-submit {
    cursor: pointer;
}

.manager-header {
    display: flex;
    justify-content: center;
}

.header-content {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.scnd-logo {
    width: 185px;
}

.welcome-txt {
    font-family: var(--primary-font);
    font-size: 32px;
    font-weight: 700;
    margin-top: -8px;
    line-height: normal;

}

.manager-main {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 34px;
    background-color: #ffffff59;
    border-radius: 40px 40px 0 0;
    padding: 30px 25px 154px;
    margin-top: 38px;
}

.display {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.title-cntnr {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    background-color: #32965d;
    border-radius: 20px;
    display: flex;
    height: 43px;
    align-items: center;
    padding: 5px 20px;
}

.title-txt {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
}

.add-product {
    width: 43px;
    height: 43px;
    background-color: #32965d;
    border-radius: 22px;
    display: flex;
    justify-content: center;
}

.add-icon {
    width: 20px;
    filter: invert(100%) sepia(5%) saturate(22%) hue-rotate(131deg) brightness(103%) contrast(108%);
}


.list-cntnr {
    padding-left: 24px;
    width: 100%;
}

.list-content {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;
}

.product-cntnr {
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    padding: 15px;
    width: 100%;
}

.product-title {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 600;
}

.icons-cntnr {
    display: flex;
    gap: 18px;
}

.icon {
    height: 20px;
}

.add {
    position: fixed;
    bottom: 97px;
}

.add-grower {
    align-items: center;
    background-color: #c4ae82;
    border-radius: 8px;
    display: flex;
    gap: 40px;
    padding: 5px 20px;
    height: 40px;
}

.add-txt {
    color: #ffffff;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.add-form,
.inputs-cntnr {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.add-form {
    gap: 24px;
}

.add-form-product,
.inputs-cntnr {
    align-items: center;
    display: flex;
}


.add-form-product {
    gap: 12px;
}

.inputs-cntnr {
    gap: 12px;
}

.input {
    border-radius: 8px;
    height: 35px;
    width: 280px;
}

.input-product {
    border-radius: 8px;
    height: 35px;
    width: 280px;
}

.input-product-valid {
    border-radius: 8px;
    height: 40px;
    width: 180px;
    background-color: #c4ae82;
    color: #ffffff;
    font-family: var(--primary-font);
    font-size: 20px;
}

.input::placeholder {
    color: #878a8d;
    text-align: center;
}

.add-submit {
    background-color: #c4ae82;
    border-radius: 8px;
    height: 40px;
    width: 290px;
    color: #ffffff;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 700;
}

.manager-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
    background-color: #ca7368;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: space-evenly;
    /* gap: 32px; */
    height: 80px;
    width: 100%;
}

.profile-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-icon {
    height: 32px;
    filter: invert(100%) sepia(5%) saturate(22%) hue-rotate(131deg) brightness(103%) contrast(108%) opacity(60%);
}

.active>.nav-icon {
    filter: invert(100%) sepia(5%) saturate(22%) hue-rotate(131deg) brightness(103%) contrast(108%);
}

.profile-name {
    color: #ffffff99;
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.active>.profile-name {
    color: #ffffff;
}